* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(0, 0, 0, 0.9);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

.container {
    position: relative;
    width: 100%;
}

.bolhas {
    position: relative;
    display: flex;
    justify-content: space-around;
    z-index: -100;
}

.bolhas span {
    width: 1rem;
    height: 1rem;
    background-color: rgb(255, 255, 255);
    margin: 0 0.25rem;
    border-radius: 100%;
    box-shadow: 0 0 0 0.625rem rgb(255, 255, 255),
        0 0 3.125rem rgb(255, 255, 255, );
    animation: animar calc(60s / var(--i)) linear infinite;
}

@keyframes animar {
    0% {
        transform: translateY(700vh) scale(0)
    }

    100% {
        transform: translateY(-0vh) scale(1)
    }
}

.bolhas span:nth-of-type(even) {
    background: white;
    box-shadow: 0 0 0 0.625rem rgba(255, 255, 255, 0.9),
        0 0 3.125rem rgba(255, 255, 255, 0.8);
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 2rem;
}

nav h1 {
    color: white
}

.links a {
    margin-left: auto;
    text-decoration: none;
    font-size: 25px;
    color: white;
    border: 2px solid purple;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(128, 0, 128, 0.3);
}

.wrap {
    height: 100%;
}

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


.hi {
    /* border: 1px solid white; */
    color: white;
    font-size: 26px;
    padding: 20px;
    text-align: center;
}


.react {
    color: blue;
}

.perfil {
    background-image: url(../img/fotoperfil.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 120%;
    height: 450px;
    width: 450px;
    padding: 0 5%;
}

.tables {
    margin-top: 50px;
    display: flex;
    /* border: 1px solid green; */
    justify-content: space-around;
    width: 100%;
    color: white;
    flex-wrap: wrap;
}

.container-table {
    /* border: 1px solid red; */
    width: 300px;
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 2%;
    margin: 1rem;
}



.container-table h3 {
    font-size: 25px;
    text-align: center;
    padding: 15px;
}

.timeline-background {
    height: 100%;
}

.h2-timeline {
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 40px 0 0 0;
}

.timeline-container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 100px 15px;
}

.timeline {
    position: relative;
    list-style: none;
    display: inline-block;
}

.timeline h2 {
    text-align: center;
}

.timeline li {
    padding: 20px;
    background-color: rgb(0, 0, 0, 0.4);
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.timeline li:last-child {
    margin-bottom: 0;
}

.timeline,
.timeline-content h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
}

.timeline,
.timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    color: #fff
}

.timeline,
.timeline-content,
.date {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: #fff;
}

@media(min-width: 992px) {
    .timeline li {
        width: 50%;
        position: relative;
        margin-bottom: 50px;
    }

    .timeline li:nth-child(odd)::before {
        transform: translate(50%, -50%);
        right: -30px;
    }

    .timeline li:nth-child(even)::before {
        transform: translate(-50%, -50%);
        left: -30px;
    }

    .date {
        position: absolute;
        top: -30px;
        color: whitesmoke;
    }

    .timeline li:hover::before {
        background-color: royalblue;
    }

    .timeline li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translate(-30px);
        border-radius: 20px 0 20px 20px;
    }

    .timeline li:nth-child(even) {
        float: right;
        clear: left;
        transform: translate(30px);
        border-radius: 0 20px 20px 20px;
    }

    .timeline li::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: #aaa;
        top: 0px;
        z-index: 1;
    }

    .timeline li:nth-child(odd)::after {
        content: "";
        position: absolute;
        height: calc(100% + 40px);
        width: 2px;
        background-color: #aaa;
        top: 0;
        right: -31px;
    }

    .timeline li:nth-child(even):not(:last-child)::after {
        content: "";
        position: absolute;
        height: calc(100% + 40px);
        width: 2px;
        background-color: #aaa;
        top: 0;
        left: -31px;
    }
}


/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
    .navbar {
        display: flex;
        justify-content: center;
    }

    .links {
        display: none;
    }

    .hi h2,
    p {
        font-size: 27px;
    }

    .perfil {
        height: 300px;
        width: 300px;
    }

    .tables {
        margin-top: 80px;
    }
}